*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}
.backdrop {
  height: 100vh;
  width: 100vw;
  background-color: #434A54;
  position: relative;
}
.centre_main {
  height: 70vh;
  width: 20vw;
  position: absolute;
  background-color: #656D78;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 7px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
 }

.container {
  text-align: center;
}
.container h1 {

  padding: 20px;

}
.container img {
  height: 80%;
  margin: auto;
  width: 80%;
  border-radius: 50%;
  object-fit: cover;
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.control_main i {
   margin: 30px;
   padding-top: 20px;
}

#artist{
  margin: 20px;
  color: #524D4C;
}


.animation {
  animation : rotatePlayer 3s linear infinite;
}

@keyframes rotatePlayer {
  from{ transform: rotate(0deg);}
  to { transform: rotate(360deg);}
}


/*progress bar functionality*/

.progress_container{
width: 100%;
height: auto;
padding: 0px 2rem 0px 2rem;
margin-top: 1rem;
}

.progress_div{
  width: 100%;
  height: 0.5rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),0 2px 4px rgba(0, 0, 0, 0.07),
  0 4px 8px rgba(0, 0, 0, 0.07),0 8px 16px rgba(0, 0, 0, 0.07),0 16px 32px rgba(0, 0, 0, 0.07),
  0 32px 64px rgba(0, 0, 0, 0.07);
  border-radius: 4rem;
  position: relative;
  margin-top: 0.5rem;
  transition: all 1s linear;
  cursor: pointer;
  appearance: none;
}

.progress{
  position: absolute;
  top: 0;
  left: 0;
  background-color: pink;
  width: 0%;
  height: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),0 2px 4px rgba(0, 0, 0, 0.07),
  0 4px 8px rgba(0, 0, 0, 0.07),0 8px 16px rgba(0, 0, 0, 0.07),0 16px 32px rgba(0, 0, 0, 0.07),
  0 32px 64px rgba(0, 0, 0, 0.07);
  border-radius: 4rem;
  position: relative;
  margin-top: 0.5rem;
  transition: all 1s linear;
  cursor: pointer;
  appearance: none;
}
.progress_duration{
  display: flex;
  justify-content: space-between;

}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

.centre_main{
  height: 65vh;
  width: 75vw;
}

.backdrop{
  height: 100vh;
  width: 100vw;
}
.container img {
  height: 40%;
  margin: auto;
  width: 40%;
}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {



  .centre_main{
    height: 75vh;
    width: 75vw;
  }

  .backdrop{
    height: 100vh;
    width: 100vw;
  }
  .container img {
    height: 40%;
    margin: auto;
    width: 40%;
  }


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {


    .centre_main{
      height: 95vh;
      width: 75vw;
    }

    .backdrop{
      height: 100vh;
      width: 100vw;
    }
    .container img {
      height: 40%;
      margin: auto;
      width: 40%;
    }


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


      .centre_main{
        height: 65vh;
        width: 25vw;
      }

      .backdrop{
        height: 100vh;
        width: 100vw;
      }
      .container img {
        height: 40%;
        margin: auto;
        width: 40%;
      }




}
